<div class="span3">
    <ul id="dbBrowser" class="ztree"></ul>
</div>
<div class="span9">
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_dbTables" data-toggle="tab">表数据</a></li>
            <li class=""><a href="#tab_dbSqlConsole" data-toggle="tab">SQL控制台</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_dbTables">
                <table id="dbTable"></table>
            </div>

            <div class="tab-pane " id="tab_dbSqlConsole">
                <textarea id="dbSqlConsole" style="height: 400px;width: 100%" class="form-control"></textarea>
            </div>
        </div>
    </div>
</div>