<div class="col-md-3">
    <div class="btn-group">
        <a id="btnDbAddDataSource" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>
        <a id="btnDbSearch" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></a>
    </div>
    <div style="height: 800px;overflow: scroll">
        <ul id="dbBrowser" class="ztree"></ul>
    </div>
</div>
<div class="col-md-9">
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_dbTables" data-toggle="tab">表数据</a></li>
            <li class=""><a href="#tab_dbSqlConsole" data-toggle="tab">SQL控制台</a></li>
            <li class=""><a href="#tab_dbCreateView" data-toggle="tab">创建视图</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_dbTables">
                <!--<div id="dbQueryForm"></div>
                <div>
                    <button id="btnDbQuery" type="button" class="btn btn-primary">查询</button>
                </div>
                <table id="dbTable"></table>-->
            </div>

            <div class="tab-pane " id="tab_dbSqlConsole">
                <textarea id="dbSqlConsole" style="height: 400px;width: 100%" class="form-control"></textarea>
            </div>

            <div class="tab-pane " id="tab_dbCreateView">
                <div></div>
                <div id="selectTables"></div>
            </div>
        </div>
    </div>
</div>

<ul id="treeMenuDataSource" class="dropdown-menu" style="display: none;">
    <li class="edit"><a href="#"><span class="glyphicon glyphicon-edit"></span> 编辑</a></li>
    <li class="delete"><a href="#"><span class="glyphicon glyphicon-trash"></span> 删除</a></li>
</ul>