<div class="panel panel-default" style="min-height: 700px">
    <div class="panel-heading">易诚通</div>
    <div class="panel-body">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_ectDsConfig" data-toggle="tab">DSConfig</a></li>
            <li class=""><a href="#tab_tplSourceCode" data-toggle="tab">源代码</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_ectDsConfig">
                <div>
                    <label>选择数据源：<select id="ectSelectDataSource"></select></label>
                    <label>选择数据库：<select id="ectSelectDatabase"></select></label>
                </div>
            </div>
            <div class="tab-pane " id="tab_tplSourceCode">源代码</div>
        </div>
    </div>
</div>