<div class="panel panel-default" style="min-height: 700px">
    <div class="panel-heading">字符串处理</div>
    <div class="panel-body">
        <label for="stringContent"></label><textarea id="stringContent" rows="15" class="form-control" style="width: 100%;"></textarea>
        <div>
            <label for="replaceSourceText">替换:</label><input id="replaceSourceText" type="text"><label for="replaceTargetText">为</label><input id="replaceTargetText" type="text">
        </div>
        <button id="btnStringOk" class="btn btn-primary">字符串连接</button>
        <button id="btnReplace" class="btn btn-primary">替换</button>
        <button id="btnToUpperCase" class="btn btn-primary">大写</button>
        <button id="btnToLowerCase" class="btn btn-primary">小写</button>
        <button id="btnToHumpStr" class="btn btn-primary">驼峰字符串</button>
    </div>
</div>
