<script type="text/template" id="tpl_rds">
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_tpl_ectongs_rds" data-toggle="tab">RDS</a></li>
            <li class=""><a href="#tab_tpl_ectongs_setItem" data-toggle="tab">setItem</a></li>
            <li class=""><a href="#tab_dbCreateView" data-toggle="tab">创建视图</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_tpl_ectongs_rds">
                <textarea class="form-control" style="height: 450px;width: 100%">
public class {{tableCnName}}RDS extends RemoteDataStore {
    public static final String DS_CLASS = "wm.{{tableCnName}}DS";

    {{each list}}public static final String CN_{{$value.cnName}} = "{{$value.lowerName}}";    //{{$value.displayName}}
    {{/each}}

    {{each list}}public static final String QC_{{$value.cnName}} = "{{tableName}}.{{$value.name}}";    //{{$value.displayName}}
    {{/each}}

    public {{tableCnName}}RDS() {
        super(DS_CLASS);
        this.setUpdateAtt(new RemoteDsUpdateAtt(new String[]{
            {{each list}}CN_{{$value.cnName}}{{if $index < list.length - 1}}, {{/if}}{{if ($index + 1) % 8 == 0}}
{{/if}}{{/each}}
        }, CN_{{pkCnName}}));
    }
}
                </textarea>
            </div>

            <div class="tab-pane " id="tab_tpl_ectongs_setItem">
                <textarea style="height: 450px;width: 100%" class="form-control">
{{each list}}ds.setItem(row, {{tableCnName}}RDS.CN_{{$value.cnName}}, "");
{{/each}}
                </textarea>
            </div>

            <div class="tab-pane " id="tab_dbCreateView">
                <div></div>
                <div id="selectTables"></div>
            </div>
        </div>
    </div>

</script>

<!-- 我的收藏列表 -->
<script type="text/template" id="tpl_dbFavoritesList">
    {{each list as value i}}
    <li class="{{if (i == 0)}}active{{/if}}"><a href="#">{{value}}</a></li>
    {{/each}}
</script>

<!-- 数据追踪 -->
<script type="text/template" id="tpl_dbTrace">
    <div class="dbTrace">
        <ul class="nav nav-tabs">
            {{each list as value index}}
            <li class="{{if (index == 0)}}active{{/if}}"><a href="#tab_trace_{{value.title}}" data-toggle="tab">{{value.title}}</a></li>
            {{/each}}
            <li class="">
                <a id="btnDbAddTrace"><span class="glyphicon glyphicon-plus"></span></a>
            </li>
        </ul>

        <div class="tab-content">
            {{each list as value index}}
            <div class="tab-pane {{if (index == 0)}}active{{/if}}" id="tab_trace_{{value.title}}">
                <ul class="list-unstyled">
                    {{each value.tables as table index}}
                    <li class="form-inline">
                        <label>表：<input type="text" class="form-control table" style="width: 700px;" value="{{table.table}}"></label>
                        <a class="addTable"><span class="glyphicon glyphicon-plus"></span></a>
                        <a class="deleteTable"><span class="glyphicon glyphicon-minus"></span></a>
                        <a class="upTable"><span class="glyphicon glyphicon-arrow-up"></span></a>
                        <a class="downTable"><span class="glyphicon glyphicon-arrow-down"></span></a>

                        <ol class="list-unstyled" style="margin-left: 25px;">
                            {{each table.columns as column}}
                            <li>
                                <label>列：<input type="text" class="form-control column" style="width: 200px;" value="{{column.column}}"></label>
                                <label>值列：<input type="text" class="form-control valueColumn" style="width: 400px;" value="{{column.valueColumn}}"></label>
                                <a class="addColumn"><span class="glyphicon glyphicon-plus"></span></a>
                                <a class="deleteColumn"><span class="glyphicon glyphicon-minus"></span></a>
                                <a class="upColumn"><span class="glyphicon glyphicon-arrow-up"></span></a>
                                <a class="downColumn"><span class="glyphicon glyphicon-arrow-down"></span></a>
                            </li>
                            {{/each}}
                        </ol>
                    </li>
                    {{/each}}
                </ul>
            </div>
            {{/each}}
        </div>
    </div>
</script>

<script type="text/template" id="tpl_dbTrace_tab">
    <div class="tab-pane active" id="tab_trace_{{title}}">
        <ul class="list-unstyled">
        {{include 'tpl_dbTrace_table'}}
        </ul>
    </div>
</script>

<script type="text/template" id="tpl_dbTrace_table">
    <li class="form-inline">
        <label>表：<input type="text" class="form-control table" style="width: 700px;" value=""></label>
        <a class="addTable"><span class="glyphicon glyphicon-plus"></span></a>
        <a class="deleteTable"><span class="glyphicon glyphicon-minus"></span></a>
        <a class="upTable"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a class="downTable"><span class="glyphicon glyphicon-arrow-down"></span></a>

        <ol class="list-unstyled" style="margin-left: 25px;">
            {{include 'tpl_dbTrace_column'}}
        </ol>
    </li>
</script>

<script type="text/template" id="tpl_dbTrace_column">
    <li>
        <label>列：<input type="text" class="form-control column" style="width: 200px;" value=""></label>
        <label>值列：<input type="text" class="form-control valueColumn" style="width: 400px;" value=""></label>
        <a class="addColumn"><span class="glyphicon glyphicon-plus"></span></a>
        <a class="deleteColumn"><span class="glyphicon glyphicon-minus"></span></a>
        <a class="upColumn"><span class="glyphicon glyphicon-arrow-up"></span></a>
        <a class="downColumn"><span class="glyphicon glyphicon-arrow-down"></span></a>
    </li>
</script>

<!-- 列信息、外键引用 tab -->
<script type="text/template" id="tpl_dataTable_colFkRef">
    <div>
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_dataTable_colInfo" data-toggle="tab">列信息</a></li>
            <li class=""><a href="#tab_dataTable_colFkRef" data-toggle="tab">外键引用</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="tab_dataTable_colInfo">
                <div>
                    <div class="pull-left" style="height: 34px;line-height: 34px;">
                        <a><span class="iconfont icon-top top"></span></a>
                        <a><span class="glyphicon glyphicon-arrow-up up"></span></a>
                        <a><span class="glyphicon glyphicon-arrow-down down"></span></a>
                        <a><span class="iconfont icon-iconfontbottom bottom"></span></a>
                        <button id="btnResetSortNum" type="button" class="btn btn-primary">重写序号</button>
                    </div>
                    <div class="pull-right">
                        <label>搜索 <input type="search" class="form-control search" style="width: 150px;display: inline-block"></label>
                    </div>
                </div>

                <table></table>
            </div>
            <div class="tab-pane " id="tab_dataTable_colFkRef">
                <table style="width: 990px;"></table>
            </div>
        </div>
    </div>
</script>