<form class="form-horizontal">
    <div class="form-group">
        <label for="url" class="control-label">网址</label>
        <div>
            <input type="url" class="form-control" id="url">
        </div>
    </div>
    <div class="form-group">
        <label for="cookie" class="control-label">Cookie</label>
        <div>
            <input type="url" class="form-control" id="cookie">
        </div>
    </div>
    <div>
        <label for="localFilePath">本地文件路径：</label>
        <input id="localFilePath" type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="url" class="control-label">jquery选择器</label>
        <div>
            <input type="text" class="form-control" id="jquerySelector">
            <button id="btnGetPage" type="button" class="btn btn-primary">获取</button>
        </div>
    </div>
    <div class="form-group">
        <label for="webPageContent" class="col-sm-2 control-label">网页内容</label>
        <textarea rows="10" class="form-control" id="webPageContent" style="width: 100%;"></textarea>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Remember me
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Sign in</button>
        </div>
    </div>
</form>