label {
    display: inline-block;
}

#dbBrowser .num {
    margin-left: 3px;
    color: firebrick;
    font-size: 11px;
}


#dbBrowser .comment {
    color: #888;
    font-size: 11px;
}

.dbSearchFilter {
    position: absolute;
    top: -5px;
    right: -160px;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 256px rgba(255, 255, 255, 0.3);
    width: 150px;
    padding: 10px 0 10px 10px;
    height: auto;
    overflow: scroll;
    font-size: 13px;
}
.dbSearchFilter input {
    margin-right: 8px;
}
.dbSearchFilter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#dbSearchResult {
    position: absolute;
    top: 40px;
    left: -5px;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1), 0 0 256px rgba(255, 255, 255, 0.3);
    width: 600px;
    padding: 5px;
    min-height: 150px;
    max-height: 400px;
    overflow: scroll;
    font-size: 13px;
}
#dbSearchResult img {
    margin-right: 5px;
}
#dbSearchResult .highlight {
    color: #aa5500;
}
#dbSearchResult .dbId {
    color: dimgray;
    font-size: 11px;
    margin: 0 3px;
}
#dbSearchResult .comment {

}
#dbSearchResult .dbType {
    float: right;
    font-weight: bold;
}

.search_input span {
    font-size: 20px;
    height: 34px;
    line-height: 34px;
    color: #004E92;
    padding: 0 5px;
}

.dropdown-menu {
    z-index: 2024;
}

#dbFavoritesList span {
    margin-right: 8px;
    font-size: 12px;
}