<div id="footer">
    <div class="container footer">
        <div class="outlinks clearfix">
            <dl>
                <dt>
                    关于我们
                </dt>
                <dd>
                    <a href="about/about.shtml">爱约赛简介</a>
                </dd>
                <dd>
                    <a href="about/contact.shtml">联系我们</a>
                </dd>
                <dd>
                    <a href="about/partner.shtml">合作伙伴</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    加入爱约赛
                </dt>
                <dd>
                    <a href="about/jobs.shtml">招聘职位</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    网站条款
                </dt>
                <dd>
                    <a href="about/copyright.shtml">版权声明</a>
                </dd>
                <dd>
                    <a href="about/disclaimer.shtml">免责声明</a>
                </dd>
            </dl>
            <dl>
                <dt>
                    微信
                </dt>
                <dd>
                    <img src="http://static.wisdom-china.cn/iyuesai/images/pages/weixin-qcode.png"/>
                </dd>
            </dl>
            <dl>
                <dt>
                    微博
                </dt>
                <dd>
                    <img src="http://static.wisdom-china.cn/iyuesai/images/pages/weibo-qcode.png"/>
                </dd>
            </dl>
        </div>
        <table class="copyright">
            <tbody>
            <tr>
                <th><img src="http://static.wisdom-china.cn/iyuesai/images/pages/footer-logo.png"/></th>
                <td> 2004-2014 &copy; 爱约赛™ iyuesai.com All rights reserved.&nbsp;&nbsp;京ICP备14034657号&nbsp;<br/>
                    爱约赛为参赛者提供全面的赛事、活动和社区交流平台，并提供场馆、运动健康等服务。
                </td>
                <td class="service-phone"> 客服电话：<span>400-011-5213</span><em>(周一至周五 9:00~18:00 法定节假日除外）</em></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- 统计代码开始 -->
<!-- 统计代码结束 -->
<!-- 百度统计 -->
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F244cac09e43da18d8a6a190c615e0daa' type='text/javascript'%3E%3C/script%3E"));
</script>
<!--CNZZ统计
<span style="display:none">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254195717'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254195717' type='text/javascript'%3E%3C/script%3E"));</script>
</span>
-->
</body>
</html>
